html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}
html {
  height: 100%;
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400;

  /* background: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%) fixed; */
  /* background: linear-gradient(147deg, #27f8ff 0%, #ffc60c 74%) fixed; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1594152032829-a443a4cd7390?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  color: black;
  /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); */
}
h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
h3 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
p {
  font-family: "Merriweather Sans";
  font-weight: 400;
}
#pic {
  max-width: 40em;
  max-height: 40em;
}

.btn1 {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.btn2 {
  height: 100%;
  width: 40%;
  padding: 0;
  margin: 0;
}

.btn3 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn4 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
}

.bg {
  background: black;
}
.navbar {
  background: none;
  border-bottom: 10px black;
}

#hop {
  max-width: 50%;
  max-height: 50%;
}
/* 
#topBar {
  display: block;
  width: 100%;
  min-height: 10%;
  background: black;
} */

.navbar .container-fluid .navbar-brand {
  color: black;
  font-weight: 900;
  font-size: 1.8em;
}

#navbarNav .navbar-nav li a {
  color: black;
  font-weight: 700;
  font-size: 1.6em;
  font-family: "Merriweather";
  /* border-bottom: 2px solid transparent; */
  background-clip: padding-box;
}
#navbarNav .navbar-nav li .login-button {
  color: black;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Merriweather";
  border: 3px solid black;
  min-width: 5em;
}

.home-button {
  color: #292b2c;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Merriweather";
  border: 2px solid #292b2c;
  min-width: 5em;
}
#navbarNav .navbar-nav li a:hover {
  text-decoration: underline;
}
#navbarNav .navbar-nav li .login-button:hover,
.home-button:hover {
  color: #ffc60c;
  text-decoration: none;
}

#brewHeader h1 {
  font-size: 5vh;
  margin: 2% 0 3.2%;
}

.ctext1 {
  color: rgb(224, 224, 224);
  letter-spacing: 1px;
}

label {
  font-family: "Merriweather", serif;
  font-weight: 700;
}

input[type="range"] {
  max-width: 25%;
}

.card-body > .card-title {
  overflow: hidden;
}
.card-body {
  min-width: 0;
}

/* .show-img-top {
  max-width: 100%;
  height: 60vh;
}

.carousel-inner .carousel-item img {
  object-fit: fill;
  width: 100%;
  height: 100%;
} */

.index-card {
  height: 300px;
}

#imgwrap {
  height: 100%;
}
#imgwrap .brewery-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-thumbnail {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.carousel-inner {
  height: 600px;
  width: 100%;
}
.carousel-item {
  width: 100%;
  height: 100%;
}
.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#map {
  width: 100%;
  height: 300px;
}
.card-body-wrap {
  display: flex;
  padding: 5px;
  flex-direction: column;
}
.card-left {
  width: 100%;
}
.card-right {
  width: 100%;
}

.brew-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.capitalize {
  text-transform: capitalize;
}
.welcome {
  margin-top: 15vh;
}
.logotext h1 {
  font-size: 75px;
}
.logotext {
  margin-top: 13px;
}
.hop {
  width: 100px;
  height: 100px;
}

.default-pic {
  width: 180px;
  height: 180px;
}

@media screen and (max-width: 766px) {
  .index-card {
    height: auto;
  }

  #imgwrap {
    height: 45vh;
  }
}

@media screen and (max-width: 390px) {
  .img-thumbnail {
    height: 130px;
    width: 130px;
    object-fit: cover;
  }
  #map {
    height: 200px;
  }

  .carousel-inner {
    height: 300px;
    width: 100%;
  }
}
@media screen and (max-width: 349px) {
  .img-thumbnail {
    height: 110px;
    width: 110px;
    object-fit: cover;
  }
}

@media screen and (max-width: 375px) {
  .hop {
    width: 75px;
    height: 75px;
  }
  .logotext h1 {
    font-size: 50px;
  }
}

h1,
h2,
h3,
p {
  color: white;
}

.navbar .container-fluid .navbar-brand {
  color: white;
  font-weight: 900;
  font-size: 1.8em;
}

#navbarNav .navbar-nav li a {
  color: white;
  font-weight: 700;
  font-size: 1.6em;
  font-family: "Merriweather";
  /* border-bottom: 2px solid transparent; */
  background-clip: padding-box;
}
#navbarNav .navbar-nav li .login-button {
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Merriweather";
  border: 1px solid white;
  min-width: 5em;
}
#navbarNav .navbar-nav li .login-button:hover,
.home-button:hover {
  color: black;
}

.btn {
  color: white;
  font-family: "Merriweather Sans";
}

.btn:hover {
  color: black;
  background: white;
  border: 1px solid white;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}
