html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}
html {
  height: 100%;
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400;

  background: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%) fixed;

  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  color: black;
}
h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
h3 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
#pic {
  max-width: 40em;
  max-height: 40em;
}

.btn1 {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.btn2 {
  height: 100%;
  width: 40%;
  padding: 0;
  margin: 0;
}

.bg {
  background: black;
}
.navbar {
  background: none;
  border-bottom: 10px black;
}

#hop {
  max-width: 50%;
  max-height: 50%;
}
/* 
#topBar {
  display: block;
  width: 100%;
  min-height: 10%;
  background: black;
} */

.navbar .container-fluid .navbar-brand {
  color: black;
  font-weight: 900;
  font-size: 1.8em;
}

#navbarNav .navbar-nav li a {
  color: black;
  font-weight: 500;
  font-size: 1.6em;
  font-family: "Roboto";
}

#brewHeader h1 {
  font-size: 5vh;
  margin: 2% 0 3.2%;
}

.ctext1 {
  color: rgb(224, 224, 224);
  letter-spacing: 1px;
}

.btn3 {
  font-family: roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
